<header class="top-bar">
    <button class="menu-toggle">
        <i class="fa fa-bars"></i>
    </button>
    <div class="top-bar-right">
        <div class="notifications">
            <button class="notification-btn" data-bs-toggle="dropdown">
                <i class="fa fa-bell"></i>
                <span class="badge">3</span>
            </button>
            <div class="dropdown-menu notifications-dropdown dropdown-menu-end">
                <div class="notifications-header">
                    <h6>Уведомления</h6>
                    <button class="btn btn-link mark-all-read">
                        Прочитать все
                    </button>
                </div>
                <div class="notifications-body">
                    <div class="notification-item unread">
                        <div class="notification-icon report">
                            <i class="fa fa-file-text"></i>
                        </div>
                        <div class="notification-content">
                            <div class="notification-text">
                                <strong>Новый отчет</strong> от Анны Смирновой
                            </div>
                            <div class="notification-time">5 минут назад</div>
                        </div>
                        <button class="btn btn-link mark-read">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="notification-item unread">
                        <div class="notification-icon task">
                            <i class="fa fa-tasks"></i>
                        </div>
                        <div class="notification-content">
                            <div class="notification-text">
                                <strong>Срочная задача:</strong> Проверить выкладку в ТЦ "Центральный"
                            </div>
                            <div class="notification-time">1 час назад</div>
                        </div>
                        <button class="btn btn-link mark-read">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                    <div class="notification-item">
                        <div class="notification-icon system">
                            <i class="fa fa-info-circle"></i>
                        </div>
                        <div class="notification-content">
                            <div class="notification-text">
                                Система обновлена до версии 2.1.0
                            </div>
                            <div class="notification-time">2 часа назад</div>
                        </div>
                    </div>
                </div>
                <div class="notifications-footer">
                    <a href="#" class="view-all">Показать все уведомления</a>
                </div>
            </div>
        </div>
        <div class="user-profile">
            <button class="profile-btn" data-bs-toggle="dropdown">
                <img src="images/avatar.png" alt="Profile" class="avatar">
                <span class="user-name">Иван Петров</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i> Профиль</a></li>
                <li><a class="dropdown-item" href="settings.html"><i class="fa fa-cog"></i> Настройки</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="login.html"><i class="fa fa-sign-out"></i> Выход</a></li>
            </ul>
        </div>
    </div>
</header> 